<div class="container">
  <h3>Welcome Client Registration </h3>
  <p>Please fill in this form to create a client</p>
  <hr>
  <form class="form_format" action="" method="post">
    <b>Name:</b>
    <input type="text" name="txtFullName" placeholder="Enter Name" />
    <b>Email:</b>
    <input type="text" name="txtEmail" placeholder="Enter Email" required />
    <b>Address:</b>
    <input type="text" name="txtAddress" placeholder="Enter Address" />
    <b>Password:</b>
    <input type="text" name="txtPassword" placeholder="Enter Password" />
    <b>Repeat Password:</b>
    <input type="text" name="txtPasswordC" placeholder="Repeat Password" />
    <br />
    <input type="submit" name="REGISTER" value="Register" />
  </form>
</div>
