<div class="container">
  <h3>Welcome Client Meeting Scheduler </h3>
  <p>Please fill in this form to create Meeting Schedule</p>
  <hr>
  <form class="form_format" action="" method="post">
    <b>Meeting Topic:</b>
    <input type="text" formControlName="txtmeetingTopic" id="idTopic" placeholder="Enter Meeting Topic" size="50" />
    <b>Number of People:</b>
    <input type="text" formControlName="txtPeople" id="idPeople" placeholder="Enter number of People" required />
    <b>Start Time:</b>
    <input type="date" formControlName="txtmeetingDate" id="idMeetingDate" /> <input type="time"
      formControlName="txtmeetingTime" id="idMeetingTime" />
    <br />
    <input type="submit" name="Schedule" value="Schedule" />
  </form>
</div>
